@import "tailwindcss";
@plugin "daisyui";

@theme{
  /* color */
  --color-gradient-01: #013223;
  --color-gradient-02: #006747;
  --color-bg-btn: #00A63E;
  --color-bg-01: #41ff6b1a;
  --color-bg-02: #f5fff6;
  --color-dark-01: #111111;
  

  /* font  */
  --font-hind-madurai: "Hind Madurai", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base{
  html {
        font-size: 62.5%;
        /* For 1rem = 10px base */
  }

  *,
  *::before,
  *::after{
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
  }
  
}